/*Stylesheet for CBIF websites incl. poisonous plants, ITIS/BiOSC*/
/*Last updated 2002-10-30  by D. Munro*/
/*General tags */
  BODY { background: white; color: black; margin-top: 10px; margin-left: 0px}

     h1 {font-size: larger; font-weight: bold; text-align: center}
     h2 {font-size: medium; font-weight: bold}
     h3 {font-size: medium}

     IMG {BORDER-TOP-STYLE: none;
         BORDER-RIGHT-STYLE: none;
         BORDER-LEFT-STYLE: none;
         BORDER-BOTTOM-STYLE: none}

/*Paragraph font declarations*/
     p.center {text-align: center; font-size: larger; font-weight: bold}
     p.head {font-size: larger; font-weight: bold}
     P.centeronly {text-align: center}
     p.sub {font-weight: bold}
     p.footer-font{font-size: smaller}
/*A tag declarations for menus bars */
     a.common {
     background: #000000;
     color: #FFFFFF;
     text-decoration: none}
     a.common:visited { background: #000000;
     color: #FFFFFF;
     text-decoration: none}
     a.common:hover { background: #000000;
     color: #FFFFFF;
     text-decoration: none}
     a.common:active{ background: #000000;
     color: #FFFFFF;
     text-decoration: none}

     a.cbif {
     background: #009966;
     color: #FFFFFF;
     text-decoration: none}
     a.cbif:visited { background: #009966;
     color: #FFFFFF;
     text-decoration: none}
     a.cbif:hover { background: #009966;
     color: #FFFFFF;
     text-decoration: none}
     a.cbif:active{ background: #009966;
     color: #FFFFFF;
     text-decoration: none}

     a.nav {
     background: #FFFFFF;
     color: #000000;
     text-decoration: underline;
     font-weight: bold;}
     a.nav:visited { background: #FFFFFF;
     color: #000000;
     text-decoration: underline;
     font-weight: bold;}
     a.nav:hover { background: #FFFFFF;
     color: #000000;
     text-decoration: underline;
     font-weight: bold;}
     a.nav:active{ background: #FFFFFF;
     color: #000000;
     text-decoration: underline;
     font-weight: bold;}

/*Table tags*/
     table.h15 {height: 15px}


table.center {margin-left: auto;
	     margin-right: auto}

td.font-center  {text-align: center} 
    
td.font-small-center {font-size: smaller;
                    text-align: center; vertical-align: text-top; text-transform : capitalize; }
td.font-small-right {font-size: smaller;
                    text-align: right }
 td.font-right  {text-align: right} 
    td.font-left  {text-align: left} 
td.font-small {font-size: smaller}
     td.w450 {width: 450px;
	margin : 0px}
	 td.w484 {width: 484px;
	           height: 200px} 
     td.w369 {width: 369px}
     td.w132 {width: 132px}
     td.w81 {width: 81px}
     td.w78 {width: 78px}
	 td.w75 {width: 75px}
	 td.w58 {width: 58px}
     td.w18  {width: 18px}
     td.w1  {width: 1px;
        height: 14px;
        padding: 0px;
        margin: 0px}
     td.wh78 {width: 78px; height: 20px}
     td.h14 {height: 14px}
     td.h5 {height: 5px}
     td.h2 {height: 2px}
     td.h1 {height: 1px}
     td.commona {color: #ffffff;
        background: #000000;
		width: 89px;
		height: 14px;
        padding: 0px;
        margin: 0px}
     td.commonb {color: #ffffff;
        background: #000000;
		width: 90px;
		height: 14px;
        padding: 0px;
        margin: 0px}
     td.nava {color: #ffffff;
        background: #009966;
		width: 89px;
		height: 14px;
        padding: 0px;
        margin: 0px}
     td.navb {color: #ffffff;
        background: #009966;
		width: 90px;
		height: 14px;
        padding: 0px;
        margin: 0px}
     td.cbif {color: #ffffff;
        background: #009966;
        height: 14px;
        padding: 0px;
        margin: 0px}

/*Span classes */
     span.big-text{font-size: large;
 font-weight: bold}
  span.small-text{font-size: smaller}

/*FG, add background-color: #EFF4FA; instead of background: white below when ready for production */

span.blue-text{font-size: larger;
 color: blue;
 background: #f5f5f5;
}

     span.text{color: #FFFFFF;
     background: #009966;
     text-decoration: none;
     font-weight: bold;}


span.center {text-align: center}

/*FG, added following class for GBIF compliancy*/
span.white-text{
     color: #fffaf0;
     background: #006400;}

/* Div classes */
div.float-left {float: left}
div.float-right {float: right}
/*To align moth images with long scientific names*/
div.float-mothright {float: right;
	                  text-align: right}
div.center {text-align: center}

/*test of simulating two table columns for next procedure output*/
div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float: left;
  width: 26%;
  text-align: left;
  }

div.row span.content{
  float: right;
  width: 74%;
  text-align: left;
  background-color: #f5f5f5
  } 

div.top span.title {
  float: left;
  width: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #556b2f; background-color: #99CCCC;
  }

.bevel {
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding-left: 5px;
}
.bottom {
        border-bottom: 1px solid #666666
}
/*Deprecated??*/
 span.fill14 {height: 14px}

.color-center  {color: black; 
                background: #CCFFFF; 
                text-align: center} 
.color-cell {color: black; 
             background: #CCFFFF}

.greencell {color: black;
            background: #CCFFCC}



/*Added for Butterflies etc.*/
 
.speciesname { color: black; 
	       background: white;	
               font-size: larger;
               font-weight: bold}

.caption { color: black; 
           background: white;  
	   font-size: smaller; 
           font-weight: bold}

.nav-header { color: black; 
              background: white;
              font-size: smaller}
/*Added for Moths to center top and bottom nav bars*/
.nav-mothheader { color: black; 
              background: white;
              font-size: smaller;
			  text-align: center}


.clickhere { color: black;  
             background: white;  
             font-size: smaller}
.footnote  { color: black; 
             background: white;
             font-size: smaller}
/*specific for moths*/
.yellow-cell {color: black;
              background: #FFFFCC;
              text-align: center}

.mothnames { color: black;
             background: white; 
             font-size: smaller }

.bold { font-weight: bold;
         }

.greenheading { color: #99CC66; 
                background: white;
                font-size: larger; 
                font-weight: bold }

.data { color: black; 
        background: white;
        font-size: smaller}

.indextext  { color: black;  
              background: white;
              font-size: smaller}

/*Added to try compatability with AAFC online re: float left right etc. */


.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }
/*Added by F. Guilbault for compatability with ITIS-USA */
.whiteboxhead {  font-family: Arial, Helvetica, sans-serif;
               font-size: 18px;
			   font-weight: bold; 
			   color: #FFFFFF; 
			   background-color: #6699CC}
.smwhiteboxhead { font-family: Arial, Helvetica, sans-serif;
               font-size: 14px; 
			   font-weight: bold; 
			   color: #000000 ; 
			   background-color: #ffffff}

/*Added by D. Munro 20006 02 17 for use in ge2.gbif.net php scripts */
     .topright   {
       background-color: #EFF4FA;
        border-right: none;
		text-align: center;
		font-weight: bold;
		vertical-align: text-top
          }
     .noright   {
        background-color: #EFF4FA;
        border-right: none;
		border-bottom: none;
		text-align: center;
		font-weight: bold;
		vertical-align: text-top
       }
	   .blankright   {
        border-right: none;
		border-bottom: none;
		text-align: center;
		font-weight: bold;
		vertical-align: text-top
       }
		.setright   {
        border-right: none;
		border-bottom: none;
		font-weight: bold;
		vertical-align: text-top
       }




